<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="content">Loading...</div>
</body>
<script type="text/javascript">
    var comment_data = {{ data|safe }};
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/lib/react/react-0.11.2.js"></script>
<script type="text/javascript" src="/static/js/lib/reflux/reflux-0.1.13.js"></script>
<script type="text/javascript" src="/static/js/build/helloworld.js"></script>
</html>