*~
*.pyc
.env

.coverage
pylint.out
nosetests.xml
coverage.xml
cover

.project
.pydevproject
.settings

*sublime-*
.idea

git_hash
*.scssc
*.css.map
social_insights/static/compressed
social_insights/static/css/all-styles.css

social_insights/static/css/all-styles.css.map
